/* @import '../public/css/style.css'; */
@import '/src/assets/scss/style.scss';
*
{
    margin: 0;
    padding: 0;
}

/* html,
body
{
    overflow: hidden;
} */
html{
  background-color: rgb(45, 48, 49);
}
#canvas
{
    position: absolute;
    top: 30vh;
    left: 0;
    outline: none;
    width: 50vw;
    height: auto;
    
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
        // background: #4568dc;
    background: linear-gradient(to bottom, rgb(166 143 249 / 70%) 0%, rgb(131 94 228 / 0%) 50%, rgb(188 224 238 / 0%) 100%);
}


